.footer-container {
    background:url('../components/image/map.jpg') center center/cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    text-align: center;
    width: 160px;
    box-sizing: border-box;
    text-decoration: none;
  }

  .footer-links:hover{
    color: gray;
  }

.footer-menu{
  display: grid;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(5,auto);
  grid-gap: 0px;
  justify-content: center;
}

.footer-item{  
  height: 40px;
}

.middle-line{
  display: flex;
  align-items: center;
  margin: 16px 0;
}
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }

  .social-icon-link:hover{
    color: gray;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #000;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }