


.about-info-container{
    display: block;
    overflow: auto;
    width: 500px;
    color: white;
    font-family: "Knockout-HTF90-UltmtWelterwt", Conduit,Sans-serif;
    border:2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-info-container > h1{
    width:90%;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-weight: normal;
    text-align: left;
   
}

.about-info-container > p{
    /* font-size: 50px; */
    width: 90%;
    font-weight: normal;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    margin: 60px auto 15px;
}

.about-btns{
    width: 90%;
    margin: 5px auto 35px;
    
}
